@tailwind base;
@tailwind components;
@tailwind utilities;


body {
background: rgb(237,237,241);
background: linear-gradient(308deg, rgba(237,237,241,0.29735644257703087) 2%, rgba(9,9,121,0.2553396358543417) 26%, rgba(170,203,223,1) 51%, rgba(0,212,255,0.14329481792717091) 75%, rgba(204,204,224,1) 98%);
}
.nav {
    display: flex;
}

.menu-item {
    padding-right: 16px;
}

h1, h2 , h3 {
    @apply font-medium;
}

.nav-footer {
    @apply text-white;
}

.featured-image {
  @apply object-cover rounded-lg w-full
}
